{
 :paths []

 :deps {
   org.clojure/clojure {:mvn/version "1.9.0-RC1"}
   autodoc/autodoc {:mvn/version "1.1.2"}
 }

 :aliases {
   :collect {:extra-paths ["repo/src/main/clojure"]}
   :build {:override-deps {org.clojure/clojure {:mvn/version "1.9.0-RC1"}}}
 }

 :mvn/repos {
   "central" {:url "https://repo1.maven.org/maven2/"}
   "clojars" {:url "https://clojars.org/repo/"}
 }
}
